

<div class="container"  *ngIf="ifSearched===false">
    <div class="row mt-5">
        <div class="border border-2 p-4 col-md-6 offset-3 bg-dark bg-opacity-50 text-white rounded-5">
            <form class="rounded-5" [formGroup]="searchForm">
                <h1 class="text-center">Product Filter Form</h1>
                <div class="mb-3">
                    <label class="form-label">Price Range From :</label>
                    <input formControlName="from" type="text" class="form-control rounded-5" 
                    [class.is-invalid]="from.invalid && from.touched">
                </div>
                <div class="mb-3">
                    <label class="form-label">Price Range To :</label>
                    <input formControlName="to" type="text" class="form-control rounded-5" 
                    [class.is-invalid]="to.invalid && to.touched">
                </div>
                
                <div class="mb-3">
                    <button type="button" [disabled]="searchForm.invalid" class="btn btn-primary rounded-5" (click)="search()">Search</button>
                </div>
                <h3 class="text-success" *ngIf=""></h3>
            </form>
        </div>
    </div>
</div>

<div class="container text-white" *ngIf="ifSearched===true">
    <div class="row">
        <div class="col-md-3 d-flex " *ngFor="let e of prod">
            <div class="card mb-1 bg-dark bg-opacity-50" style="width: 18rem;">
                <div class="card-body">
                     <h5 class="card-title">{{e.name}} [{{e.id}}]</h5>
                    <p class="card-text">Price: {{e.price}}</p>
                    <p class="card-text">Quantity: {{e.quantity}}</p>
                    <a [routerLink]="['/detail',e.id]" class="btn btn-success m-1">Details</a>
                    <a [routerLink]="['/update',e.id]" class="btn btn-warning m-1">Update</a>
                    <!-- <button (click)="delete($event)" class="btn btn-primary m-1" [value]="e.id">Delete</button> -->
                    <a [routerLink]="['/delete',e.id]" class="btn btn-danger m-1">Delete</a>
                    <!-- <p class="text-danger" *ngIf="e.expDate>mydate"> !!Expired!!</p> -->
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" (click)="toggle()">Close</button>
    </div>
</div>

